ul {
    list-style-type:square ;
  }
  
  ol {
    list-style-type:upper-roman;
  }
  
  li {
    margin: 5px;
    padding: 10px 20px 10px 20px;
  }
  
  .example, .cafe1{
    font-size: 20px;
    font-weight: 700;
    color: red;
  }
  
  .excited, .coca{
    font-size: 20px;
    font-weight: bold;
    color: green;
  }
  h1 {
    color: blue;
  }