.circle {
  display: flex;
  background-color: darkblue;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0;
  margin-bottom: 20px;
}
.circle2 {
  display: flex;
  background-color: darkblue;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  height: 300px;
  width: 300px;
  margin: 0;
}
.circle3 {
  display: flex;
  background-color: darkblue;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-left: 0px;

}
.circle4 {
  display: flex;
  background-color: darkblue;
  width: 300px;
  height: 300px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
} 
.circle5 {
  display: flex;
  background-color: darkblue;
  width: 300px;
  height: 300px;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
}