main {
    font-family: Operator Mono;
}
h1 {
    text-align: center;
}
.title-main {
    color: blue;
}
.bgmeio {
    background-color: blue;
}
.explicacao {
    color: white;
}
li {
    text-decoration: underline;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Operator Mono;
}