img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

body {
    background-color: black
}

h1, 
h2 {
    font-family: Operator Mono;
    color: white;
    text-align: center;
}

p,summary {
    font-family: Operator Mono;
    color: gray;
    text-align: justify;

}

details {
    font-family: Operator Mono;
    color: gray;

}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: blanchedalmond;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}
#ultimaP, .ultimaLi {
    font-size: 40px;
}
